extends base.pug

block content
  br
  div.content-section
    legend(id="wb-cont" property="name").border-bottom.mrgn-tp-sm.mrgn-bttm-lg Schedule an Event
    div.container
      form(id="addSceduleEventForm", action="#", method="post")
        div.form-group
          label(for="Title") Event Title 
          input(type="text", id="Title", placeholder="Enter event title", style="width: 90%;", name="title", required).form-control 
        div.form-group
          label(for="Desc") Description 
          input(type="text", id="Desc", placeholder="Small description of the event", style="width: 90%;", name="Desc").form-control
        div.form-group
          label(for="start") Event start date 
          input(type="date", id="start", style="width: 90%;", name="start", min="2018-01-01", max="2050-01-01", required).form-control
        div.form-group
          label(for="end") Event end date 
          input(type="date", id="end", style="width: 90%;", name="end", min="2018-01-01", max="2050-01-01", required).form-control

          
        div.form-group.AddPageButtonDiv
          button(type="submit" style).btn.btn-success.mrgn-rght-sm Save