extends base.pug

block content
  include messages.pug
  h1(id="wb-cont" property="name") Application List
  div 
    button(type="button", id="addButton").btn.btn-primary Add Application 
  div(id="addApplication")
    pp-modal(dataurl="/applications", id="addButtonModal", buttonDisplay="none")
      span(slot="buttonText") Add Application
      p(slot="header") Add Application
      span(slot="formContent")
        form(id="addApplicationForm", action="/applications", method="post")
          div.form-group
            label(for="Name") Application Name 
            input(type="text", id="Name", placeholder="Enter application name", style="width: 100%;", name="Name", required).form-control 
          div.form-group
            label(for="desc") Description 
            input(type="text", id="Desc", placeholder="Small description of the application", style="width: 100%;", name="Desc").form-control
          div.form-group
            label(for="owner") Owner 
            input(type="text", id="Owner", placeholder="Enter owner name", style="width: 100%;", name="Owner", required).form-control
          div.form-group.AddPageButtonDiv
            button(type="submit" style).btn.btn-success.mrgn-rght-sm Save
  template(id="editApp")
    pp-modal(dataurl="/applications")
      span(slot="buttonText") Edit 
      p(slot="header") Edit Application
      span(slot="formContent")
        form(id="UpdateApplicationForm", action="#", method="post")
          div.form-group
            label(for="Name") Application Name 
            br
            input(type="text", id="Name", placeholder="Enter application name", style="width: 90%;", name="Name", required).form-control 
          div.form-group
            label(for="desc") Description 
            br
            input(type="text", id="desc", placeholder="Small description of the application", style="width: 90%;", name="Desc").form-control
          div.form-group
            label(for="owner") Owner
            br
            input(type="text", id="owner", placeholder="Enter owner name", style="width: 90%;", name="Owner", required).form-control
          div(style="padding-top: 10px").form-group.AddPageButtonDiv
            button(type="submit", id="test" style).btn.btn-success.mrgn-rght-sm Save
  template(id="editPage")
    pp-modal(dataurl="/pages")
      span(slot="buttonText") Edit 
      p(slot="header") Edit Page
      span(slot="formContent")
        form(id="UpdatePageForm", action="#", method="post")
          div.form-group
            label(for="Title") Page Title
            br
            input(type="text", id="title", placeholder="Enter page title", style="width: 90%;", name="Title", required).form-control 
            input(type="hidden", id="app", name="App") 
          div.form-group
            label(for="URL") Page URL 
            br
            input(type="text", id="url", placeholder="Enter page URL", style="width: 90%;", name="URL").form-control
          div.form-group
            label(for="action") Page Action
            br
            input(type="text", id="action", placeholder="Enter page action", style="width: 90%;", name="Action", required).form-control
          div.form-group
            label(for="Auth") Page Auth
            br
            input(type="text", id="auth", placeholder="Enter page auth", style="width: 90%;", name="Auth", required).form-control
          div(style="padding-top: 10px").form-group.AddPageButtonDiv
            button(type="submit" style).btn.btn-success.mrgn-rght-sm Save
  template(id="deleteApp")
    pp-modal(method="delete", dataurl="/applications", id="deleteApp", itemId="0")
      span(slot="buttonText") Delete 
      p(slot="header") Delete Appliction
      span(slot="formContent")
        form(id="deleteApplicationForm", action="#", method="post")
          fieldset.form-group 
            legend.border-bottom.mrgn-bttm-mb Delete Application
            h2 Are you sure you want to delete this application?
          div.form-group 
            button(type="submit").btn.btn-danger Yes I am sure!
            a(href="/applications").btn.btn.default Cancel
  template(id="deletePage")
    pp-modal(method="delete", dataurl="/pages", id="deletePage", itemId="0")
      span(slot="buttonText") Delete 
      p(slot="header") Delete Page
      span(slot="formContent")
        form(id="deletePageForm", action="#", method="post")
          fieldset.form-group 
            legend.border-bottom.mrgn-bttm-mb Delete Page
            h2 Are you sure you want to delete this page?
          div.form-group 
            button(type="submit").btn.btn-danger Yes I am sure!
            a(href="/applications").btn.btn.default Cancel

  div(id="grid")
    data-grid(dataurl="/applications", 
      dataheaders='["ID","Application Name", "Desc", "Owner" , "-" , "-" ]')

  template(id="dataGrid")
    data-grid(dataurl="/pages",
      dataheaders='["ID","URL", "Title", "Action" , "Auth", "App ID", "-" , "-" ]')

  block script 
    script(type="text/javascript", src="static/components/modal.js") 
    script(type="text/javascript" src="static/components/datagrid.js")
    script(type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js")
    script(nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js")

  script. 
    let addButton = document.getElementById("addButton");
    addButton.addEventListener("click", popUpModal);
    function popUpModal() {
      let addButtonModal = document.getElementById("addButtonModal");
      addButtonModal._showModal();
    }