extends base.pug

block content
  div.container
    div.col-md-11
      br
      div.row
        div.col-md-12
          div.panel.panel-default 
            div.panel-heading COE Accessibility Tester
            div.panel-body 
              p COE Accessibility Tester provides a location to record and test applications for Web Content Accessibility Guidelines (WCAG) compliance. 