extends base.pug

block content
  div.container
    div.col-md-11
      br
      div.row
        div.col-md-12
          div.panel.panel-default 
            div.panel-heading COE Accessibility Tester
            div.panel-body 
              p COE Accessibility Tester provides a location to record and test applications for Web Content Accessibility Guidelines (WCAG) compliance.
              p 
                | This application allows developers, testers, and application specialists who are involved in designing, building, testing, 
                | and maintaining web applications to create accessible content as per the Government of Canada’s Accessibility Standards (currently WCAG 2.0/2.1). 
                | It also provides the means for managers to verify that web application designs, coding, testing, and maintenance activities are compliant practices within the team.