main{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}