if result.success
  if result.success != ''
    div(id="id_message" style="border-radius: 5px;").alert.alert-success.mrgn-bttm-0.mrgn-tp-sm #{result.success}
if result.error
  if result.error != ''
    div(id= "id_message" style="border-radius: 5px;").alert.alert-danger.mrgn-bttm-0.mrgn-tp-sm #{result.error}